.list-selection-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .list-selection {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;

    input,
    .selected-name {
      padding: 0px 3px;
    }
  }
}

button.add-list-selection,
button.remove-list-selection {
  height: 13px;
  width: 13px;
  line-height: 13px;
  padding: 0px;
  background-color: #bd2919;
  border-radius: 20%;
}

.multi-text-input-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1px;

  input {
    flex-grow: 2;
    border: none;

    &:focus {
      outline: none;
    }
  }

  button.add-list-selection {
    height: 30px;
    width: 50px;
    border-radius: 3px;
    margin: auto 3px;
  }
}

.hidden{
  display: none;
}

button{
  color: white;
  border: none;
}